<p><strong>Digitaal Wobben, dat mag!</strong></p>

<p>
  De wetgeving over de openbaarheid van bestuur vereist dat aanvragen
  schriftelijk (of mondeling) worden ingediend. E-mails gelden als een vorm van
  schriftelijke communicatie. De wet staat dus toe dat Woo-verzoeken per e-mail
  worden gedaan en behandeld.
</p>

<p>
  Er zijn overheden (geweest) die de elektronische weg voor het indienen van
  Woo-verzoeken (tijdelijk) hebben afgesloten omdat dit mogelijk misbruik van de
  Woo voor bijvoorbeeld het innen van dwangsommen in de hand zou werken. In
  uitzonderlijke gevallen is dit door de rechter als beleidskeuze
  gesanctioneerd. Nu de mogelijkheid tot het geautomatiseerd innen van
  dwangsommen voor niet op tijd afgehandelde Woo-verzoeken door een
  wetswijziging onmogelijk is gemaakt, is er geen goede reden meer om het doen
  van elektronisch ingediende Woo-verzoeken te beperken.
</p>

<p>
  Laagdrempelige toegang tot overheidsinformatie is bovendien een beginsel dat
  breed gedeeld wordt door de overheid. Het op eenvoudige en uniforme wijze
  kunnen indienen van digitale Woo-verzoeken is een belangrijke stap in die
  richting. En wederom, in de ons omringende landen en de EU vinden ambtenaren
  het volkomen normaal om via een vergelijkbare website Woo-verzoeken te
  behandelen en beantwoorden.
</p>
