<% @title = 'About' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Wat is <%= site_name %>? <a href="#introduction">#</a></h1>

  <p>
    De Wob-Knop is een website om snel en gemakkelijk digitale Wob-verzoeken in
    te dienen bij overheidsinstanties, de behandeling van het verzoek te volgen
    en de gevraagde informatie te ontvangen.
  </p>

  <p>
    Je kunt de website ook gebruiken om alle eerdere via de Wob-Knop verkregen
    Wob-verzoeken en overheidsdocumenten te doorzoeken.
  </p>

  <p>
    Lees hier meer over het gebruik van de Wob-Knop.
  </p>

  <p>
    Door de Wob-Knop hoef je geen papieren administratie meer bij te houden of
    brieven in te scannen. Ook prijzige aangetekende brieven zijn verleden
    tijd. De website waarschuwt je als de overheid zich niet aan de wettelijke
    termijn voor de beantwoording van je verzoek houdt. Je kunt deze termijnen
    ook in je digitale agenda laten zetten.
  </p>

  <p>
    En met het gebruik van de Wob-Knop maak je het niet alleen jezelf
    makkelijker. Anderen die op zoek zijn naar dezelfde informatie kunnen met
    de zoekfunctie makkelijk bij de door jou opgevraagde documenten komen. Zo
    kan je met elkaar meedenken en inspiratie opdoen.
  </p>

  <p>
    Voor journalisten is er de mogelijkheid om het verzoek af te schermen
    totdat zij gepubliceerd hebben.
  </p>

  <p>
    Lees hier meer over de privacy.
  </p>

  <dl>
    <dt id="purpose">Waarom deze Wob-Knop? <a href="#purpose">#</a> </dt>
    <dd>
      <p>
        Op grond van de Wet Openbaarheid van Bestuur (Wob) heeft iedereen het
        recht om een informatieverzoek in te dienen bij alle Nederlandse
        overheden. Dit wordt ‘wobben’ genoemd en het informatieverzoek is een
        ‘Wob-verzoek’.
      </p>

      <p>
        De Wob-Knop is ontwikkeld om Wob-verzoeken op een efficiënte manier te
        versturen en te monitoren en de openbaar gemaakte overheidsdocumenten
        beter toegankelijk en doorzoekbaar te maken.
      </p>
    </dd>

    <dt id="whybother_them">Waarom zou een overheidsinstantie antwoorden? <a href="#whybother_them">#</a> </dt>
    <dd>
      <p>
        De overheid is <a
          href="https://wetten.overheid.nl/jci1.3:c:BWBR0005252&hoofdstuk=III&artikel=6&z=2018-07-28&g=2018-07-28">verplicht</a>
        om binnen vier weken je verzoek te beantwoorden en ze mag hier zonodig
        nog vier weken aan toevoegen. In totaal moet je dus binnen acht weken
        antwoord krijgen. Het kan wel zo zijn dat het antwoord niet de
        informatie bevat waar je om vroeg.
      </p>

      <p>
        Lees hier meer over wat je na een (gedeeltelijke) afwijzing van je
        Wob-verzoek kan doen.
      </p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
