<% @title = 'Na je verzoek' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>

  <h2>
    Wanneer krijg ik antwoord?
  </h2>

  <p>
    Als het goed is ontvang je binnen een week een ontvangstbevestiging van de
    overheid.
  </p>

  <p>
    Overheidsinstanties zijn wettelijk verplicht om <strong>binnen 4
      weken</strong> op je verzoek te beslissen. Helaas zijn daar een aantal
    <strong>uitzonderingen</strong> op.
  </p>

  <ol>
    <li>
      de overheidsinstantie kan de beslissing met <strong>nog eens 4
        weken</strong> uitstellen, als de beantwoording van het verzoek meer
      tijd kost. Hier wordt regelmatig gebruik van gemaakt.
    </li>

    <li>
      Als anderen nadeel zouden kunnen ondervinden van het openbaar maken van
      de informatie, moet de overheidsinstantie hen <strong>enkele
        weken</strong> de gelegenheid geven om tegen de openbaarmaking bezwaar
      te maken. Denk bijvoorbeeld aan informatie over bedrijfsgeheimen: het
      betreffende bedrijf wordt dan in de gelegenheid gesteld om een zienswijze
      te geven of de informatie wel of niet openbaar mag worden.
    </li>
  </ol>

  <p>
    De Woo-Knop stuurt je automatisch een herinnering als de termijnen van twee
    keer vier weken terijnen verstrijken zonder dat je antwoord hebt ontvangen.
    In het geval van zienswijzen moet je handmatig de termijn instellen omdat
    de lengte hiervan kan verschillen. De ontvangstbevestigingen en
    uitstelbrieven ontvang je rechtstreeks in je mailbox.
  </p>

  <h2>
    Wat als ik geen ontvangstbevestiging krijg?
  </h2>

  <p>
    Als je niet <strong>binnen een week</strong> een ontvangstbevestiging
    gekregen hebt, kan dat betekenen dat de overheid je verzoek niet ontvangen
    of niet gezien heeft.
  </p>

  <ol>
    <li>
      Check op de pagina met al je verzoeken of er <strong>een groen
        vinkje</strong> staat naast het verzoek. Je kunt er dan zeker van zijn
      dat het verzoek is aangekomen op het mailadres van het overheidsorgaan.
      Het is wel mogelijk dat het verzoek in hun spamfilter terecht is gekomen.
    </li>

    <li>
      Stuur een <strong>reminder</strong> met behulp van de knop ‘Acties’ /
      ‘Beantwoorden’ direct onder je verzoek en vraag om een
      ontvangstbevestiging.
    </li>

    <li>
      <strong>Bel</strong> met het overheidsorgaan. Soms is er een
      gespecialiseerde Woo-ambtenaar om je te woord te staan. Vraag of ze het
      verzoek hebben gezien. Zo niet, vraag dan of het misschien in hun
      spamfilter terecht is gekomen. Als dit overheidsorgaan nog geen ervaring
      heeft met verzoeken via de Woo-Knop, verwijs ze dan naar de Veelgestelde
      vragen voor Woo-ambtenaren-pagina.
    </li>
  </ol>

  <h2>
    Wat als ik geen (tijdig) antwoord krijg?
  </h2>

  <p>
    Als je na 4 weken nog geen antwoord of een uitstelbrief hebt ontvangen
    stuurt de Woo-Knop je automatisch een herinnering dat de termijn verstreken
    is. Hetzelfde geldt voor de tweede termijn van 4 weken en de termijn
    waarbinnen andere belanghebbenden de gelegenheid krijgen om hun zienswijze
    te geven.
  </p>

  <ol>
    <li>
      Check op de pagina met al je verzoeken of er <strong>een groen
        vinkje</strong> staat naast het verzoek. Je kunt er dan zeker van zijn
      dat het verzoek is aangekomen op het mailadres van het overheidsorgaan.
      Het is wel mogelijk dat het verzoek in hun spamfilter terecht is gekomen.
    </li>

    <li>
      Stuur een <strong>reminder</strong> met behulp van de knop ‘Acties’ /
      ‘Beantwoorden’ direct onder je verzoek en herinner het overheidsorgaan
      eraan dat de termijn verstreken is. Als de eerste termijn van 4 weken is
      verstreken zonder dat je een uitstelbrief hebt ontvangen, verzoek dan om
      een formele uitstelbrief te ontvangen.
    </li>

    <li>
      <p>
        <strong>Bel</strong> met het overheidsorgaan. Soms is er een
        gespecialiseerde Woo-ambtenaar om je te woord te staan. Vraag om die
        persoon te spreken. Vraag of ze het verzoek hebben gezien. Zo niet,
        vraag dan of het misschien in hun spamfilter terecht is gekomen. Als
        dit overheidsorgaan nog geen ervaring heeft met verzoeken via de
        Woo-Knop, verwijs ze dan naar de Veelgestelde vragen voor
        Woo-ambtenaren-pagina op de site.
      </p>

      <p>
        Bespreek met de ambtenaar of die een inschatting kan geven van de te
        verwachten datum waarop zal worden besloten op je verzoek. Als je met
        deze datum tevreden bent, vraag om een schriftelijke bevestiging via
        ‘Acties’ / ‘Beantwoorden’ van de Woo-Knop.
      </p>
    </li>

    <li>
      Weigert de ambtenaar een datum te noemen of ben je het niet eens met de
      datum? Overweeg dan rechtstreeks bij de rechtbank van je woonplaats
      <strong>in beroep</strong> te gaan tegen het niet (tijdig) nemen van de
      beslissing. Zie de pagina over Bezwaar &amp; Beroep voor meer informatie.
    </li>
  </ol>

  <h2>
    Wat als ik niet de informatie ontvang die ik wilde hebben?
  </h2>

  <p>
    De Wet Openbaarheid van Bestuur heeft als uitgangspunt dat
    overheidsinformatie openbaar moet worden gemaakt als je daar om vraagt.
    Daar zijn wel een aantal uitzonderingen op. Sommige documenten zul je
    daarom niet of slechts gedeeltelijk krijgen.
  </p>

  <p>
    Als je de informatie die je hebt gevraagd niet hebt ontvangen, overweeg dan
    de volgende stappen:
  </p>

  <ol>
    <li>
      Vraag het overheidsorgaan om een <strong>samenvatting</strong> te maken
      van de stukken die je niet hebt gekregen. Hier heb je geen recht op, maar
      als het verdere procedures kan voorkomen zijn ambtenaren hier soms toe
      bereid.
    </li>

    <li>
      Gebruik de informatie in de documenten die je wel ontvangen hebt om een
      <strong>nieuw verzoek</strong> te doen gericht op specifiekere informatie
      of gericht aan een ander overheidsorgaan.
    </li>

    <li>
      Ga in bezwaar tegen de beslissing.
    </li>
  </ol>

  <h2>
    De stukken die ik heb ontvangen staan vol zwartgelakte passages. Is dat
    normaal en kan ik er iets tegen doen?
  </h2>

  <p>
    Dit hoort helaas bij het bestaan van de wobber. Openbaarheid is het
    uitgangspunt, maar en zijn meer dan een dozijn
    <strong>uitzonderingen</strong> waar een overheidsinstanties zich op kan
    beroepen om documenten niet te verstrekken. Wat kun je hieraan doen?
  </p>

  <ol>
    <li>
      Heel soms heb je geluk. Houd de stukken omhoog tegen het licht. Soms kun
      je er door heen kijken. Of kijk met Acrobat of je de zwarte markeringen
      kunt <strong>verwijderen</strong>. (Geen grap, dit komt regelmatig voor,
      zeker bij de kleinere instanties met weinig Woo-ervaring.)
    </li>

    <li>
      De overheid is verplicht om te onderbouwen waarom ze delen van de stukken
      niet zichtbaar maken. Lees goed in het besluit of dat in jouw geval is
      gebeurd, en of je de onderbouwing overtuigend vindt. Zo niet, overweeg
      dan <strong>in bezwaar</strong> te gaan tegen de beslissing.
    </li>
  </ol>

  <p>
    Zie voor andere vragen waar je tegenaan kunt lopen in deze fase de
    Veelgestelde Vragen-pagina.
  </p>

  <div id="hash_link_padding"></div>
</div>
