<% @title = 'Wie heeft de Woo-Knop ontwikkeld?' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name] %>
    <h1><%= _('Would you like to see a website like this in your country?') %></h1>
  <% else %>
    <h1><%= @title %></h1>
  <% end %>

  <p>
    De software waar de website op draait heet
    <a href="https://alaveteli.org">Alaveteli</a> en is ontwikkeld door het
    Britse <a href="https://www.mysociety.org/">mySociety</a>.
  </p>

  <div id="hash_link_padding"></div>
</div>
