<% @title = 'Credits' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>

  <p>
    De Wob-knop is een initiatief van de Vlaams-Nederlandse Vereniging van
    Onderzoeksjournalisten (VVOJ) en afgeleid van de succesvolle Britse website
    <a href="https://www.whatdotheyknow.com">WhatDoTheyKnow.com</a>.
  </p>

  <p>
    De software waar de website op draait heet
    <a href="https://alaveteli.org">Alaveteli</a> en is ontwikkeld door
    <a href="https://www.mysociety.org">mySociety</a>. mySociety is voortgekomen
    uit de vereniging UK Citizens Online Democracy.
  </p>

  <p>
    De Wob-knop is financieel mogelijk gemaakt door
    <a href="https://www.adessium.org/nl">Adessium</a> en mySociety.
  </p>

  <dl>
    <dt id="helpus">Tips? <a href="#helpus">#</a></dt>
    <dd>
      <p>
        Opmerkingen, tips (voor financiering), vragen: alles wat de Wob-Knop
        beter kan maken is welkom.
      </p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
