<% @title = 'Credits' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>

  <p>
    De Woo-Knop is afgeleid van de succesvolle Britse website
    <a href="https://www.whatdotheyknow.com">WhatDoTheyKnow.com</a>.
  </p>

  <p>
    De software waar de website op draait heet
    <a href="https://alaveteli.org">Alaveteli</a> en is ontwikkeld door
    <a href="https://www.mysociety.org">mySociety</a>.
  </p>

  <p>
    De Woo-Knop is financieel mogelijk gemaakt door
    <a href="https://www.adessium.org/nl">Adessium</a> en met hulp van de
    Vlaams-Nederlandse Vereniging van Onderzoeksjournalisten (VVOJ) in
    Nederland geïntroduceerd.
  </p>

  <p>
    De website maakt op geen enkele manier deel uit van de Nederlandse overheid
    en opereert volstrekt onafhankelijk.
  </p>

  <dl>
    <dt id="helpus">
      Tips?
      <a href="#helpus">#</a>
    </dt>
    <dd>
      <p>
        Opmerkingen, tips, vragen: alles wat de Woo-Knop beter kan maken is
        welkom.
      </p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
