<% @title = 'Database doorzoeken' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>

  <h2>
    Hoe kan ik eenvoudig de database met eerdere Wob-verzoeken doorzoeken?
  </h2>

  <p>
    Via de Wob-Knop kun je eenvoudig met zoektermen zoeken naar eerdere
    Wob-verzoeken die met de Wob-Knop zijn gedaan. Ook kom je op die manier
    terecht bij de documenten die deze verzoeken hebben opgeleverd en de
    correspondentie die over de verzoeken is gevoerd.
  </p>

  <p>
    Je kunt je zoekopdracht inkaderen met zoektermen, de periode waarin je wilt
    zoeken, en met het resultaat dat de verzoeken hebben opgeleverd (succesvol,
    niet succesvol, niet beantwoord).
  </p>

  <p>
    Zie hier tips over geavanceerd zoeken voor hele specifieke zoekopdrachten.
  </p>


  <h2>
    Wat wordt er precies opgeslagen in de database van de Wob-Knop?
  </h2>

  <ol>
    <li>
      Alle Wob-verzoeken die via de Wob-Knop zijn ingediend.
    </li>
    <li>
      Alle correspondentie over een Wob-verzoek die via de Wob-Knop is gevoerd.
    </li>
    <li>
      Alle documenten die overheidsinstanties via de Wob-Knop hebben verstrekt.
    </li>
  </ol>

  <p>
    Je vindt dus geen Wob-verzoeken die niet via de Wob-Knop zijn gedaan of
    gewobte documenten die niet via de Wob-Knop zijn verstrekt.
  </p>


  <h2>
    Waarom zou ik de database van de Wob-Knop doorzoeken?
  </h2>

  <p>
    De database is om allerlei redenen een belangrijke toevoeging aan het
    ‘arsenaal’ van de wobber.
  </p>

  <ol>
    <li>
      Het is sowieso de moeite waard om te checken of de documenten waar je
      naar op zoek bent al door iemand anders via de Wob-Knop gewobt zijn.
    </li>

    <li>
      Je kunt zien hoe anderen hun (soortgelijke) verzoek hebben geformuleerd
      en hoe anderen communiceren met Wob-ambtenaren.
    </li>

    <li>
      Je kunt ook zien hoe de overheidsinstantie die je wil wobben doorgaans
      omgaat met Wob-verzoeken. Bijvoorbeeld: wat kun je verwachten wat betreft
      de tijd die de instantie gaat nemen om je verzoek te beantwoorden?
    </li>

    <li>
      En ook zie je wat voor soort documenten de overheidsinstantie die je wil
      wobben ‘in huis’ heeft. Jij kunt dan ook naar dat type document vragen.
    </li>

    <li>
      Je kunt aan de hand van eerdere Wob-verzoeken inspiratie opdoen voor een
      eigen Wob-verzoek.
    </li>
  </ol>

  <div id="hash_link_padding"></div>
</div>
