<% @title = 'Wettelijk kader' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>

  <p>
    In de Wet openbaarheid van bestuur, afgekort: de Woo, is geregeld waar een
    Woo-verzoek aan moet voldoen. Je hoeft lang niet alles over de Woo te weten
    om te kunnen wobben. Wat wel goed is om te weten: je kunt alleen om
    informatie vragen die is vastgelegd in ‘documenten’ die gaan over een
    ‘bestuurlijke aangelegenheid’ van het ‘bestuursorgaan’ waar de documenten
    zich bevinden. Daarom leggen we deze begrippen kort uit.
  </p>

  <h2>
    Informatie of documenten?
  </h2>
  <p>
    De overheid hoeft alleen informatie openbaar te maken die is vastgelegd in
    documenten. Met een Woo-verzoek kun je niet vragen om informatie die niet
    op een of andere manier is vastgelegd op een gegevensdrager. ‘Documenten’
    zijn gelukkig wel breder dan geschreven stukken alleen. Excelsheets,
    audio-opnames, sms’jes en WhatsAppjes verstuurd van een werktelefoon vallen
    er ook onder.
  </p>

  <p>
    Natuurlijk kun je de overheid toch om informatie vragen die niet op een
    gegevensdrager staat. Dat is dan geen Woo-verzoek, maar een gewoon
    informatieverzoek. Hiervoor is Woo-Knop.nl niet bedoeld.
  </p>

  <h2>
    ‘Bestuurlijke aangelegenheid’
  </h2>
  <p>
    Je kunt alleen Woo-verzoeken indienen over een ‘bestuurlijke
    aangelegenheid’. Dat betekent simpelweg dat je alleen kunt wobben over
    overheidstaken, en bijvoorbeeld niet naar de privé-aangelegenheden van een
    ambtenaar, of over jezelf. Om te voorkomen dat de overheid je brief niet
    als een Woo-verzoek behandelt, moet je altijd duidelijk maken over welke
    bestuurlijke aangelegenheid je informatie zoekt.
  </p>

  <h2>
    ‘Bestuursorganen’
  </h2>
  <p>
    ‘Bestuursorgaan’ is de juridische term voor alle overheidsinstanties die
    zelfstandig overheidsbeslissingen kunnen nemen. Wij hebben gekozen voor het
    gebruiken van de term ‘overheidsinstantie’ in plaats van de wat juridische
    term ‘bestuursorgaan’.
  </p>

  <p>
    Bedrijven kan je niet wobben. Ook niet de bedrijven die betrokken zijn bij
    de uitvoering van overheidstaken. Bedrijven zijn nou eenmaal geen
    overheidsinstanties. Je kunt wel informatie van de overheid wobben over
    besluitvorming waar bedrijven bij betrokken zijn.
  </p>

  <h2>
    Openbaar tenzij…
  </h2>
  <p>
    Het uitgangspunt van de Woo is dus dat alle overheidsinformatie op verzoek
    openbaar moet worden gemaakt. Maar waar een uitgangspunt is, zijn er ook
    uitzonderingen. Er zijn allerlei belangen waar de overheid rekening mee
    moet houden. Soms is dat terecht, bijvoorbeeld als de openbaarmaking een
    belemmering zou kunnen zijn voor de opsporing of vervolging van strafbare
    feiten. Maar soms is het onterecht.
  </p>

  <p>
    Hieronder een paar voorbeelden van de uitzonderingen die vaak worden
    gebruikt om openbaarmaking geheel of gedeeltelijk te weigeren.
  </p>
  <ul>
    <li>persoonsgegevens van de in het document genoemde personen;</li>
    <li>informatie over bedrijven die in het document voorkomen;</li>
    <li>buitenlandse betrekkingen van Nederland;</li>
    <li>economische of financiële belangen van de overheid;</li>
    <li>opsporing of vervolging van strafbare feiten;</li>
    <li>persoonlijke beleidsopvattingen van ambtenaren.</li>
  </ul>
  <p>
    En dan is er nog de veel bekritiseerde ‘restgrond’: de ‘onevenredige
    benadeling’ van de overheid of anderen, wat - volgens diezelfde overheid -
    dan zwaarder moet wegen dan het belang van het openbaar maken van de
    informatie.
  </p>
  <p>
    Hoewel je je door deze uitzonderingen zeker niet moet laten weerhouden om
    te gaan wobben kan het geen kwaad om ze per Woo-verzoek mee te wegen bij je
    beslissing of en wanneer je wil wobben. Een simpel voorbeeld: als een
    strafrechtelijk onderzoek nog loopt, kun je misschien beter wachten totdat
    dat is afgerond.
  </p>

  <div id="hash_link_padding"></div>
</div>
