<% @title = 'Bezwaar en beroep' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>

  <h2>
    Hoe kan ik de overheid zo ver krijgen om (tijdig) te antwoorden?
  </h2>

  <p>
    Natuurlijk hoop je dat de overheid zich netjes aan de wettelijke termijnen
    houdt en op tijd beslist over je verzoek. Maar wat doe je als dat niet zo
    is?
  </p>

  <ol>
    <li>
      Je hoeft niet te wachten met actie ondernemen tot de termijnen officieel
      verlopen zijn. Wob-afdelingen bij de overheid zijn vaak onderbemand en
      moeten kiezen welk verzoek ze als eerste behandelen. Houd dus de
      <strong>druk op de ketel</strong> door eens in de paar weken via de
      Wob-Knop of telefonisch te informeren hoe het ervoor staat.
    </li>

    <li>
      Als de Wob-ambtenaar laat weten dat ze de wettelijke termijn niet gaan
      halen, probeer dan via de Wob-Knop <strong>een toezegging of bevestiging
        te krijgen</strong> over de uiterlijke datum waarop de ambtenaar
      verwacht te beslissen.6
    </li>

    <li>
      Weigert de ambtenaar een datum of termijn te noemen, dan kun je ervoor
      kiezen om de overheid ‘<strong>in gebreke te stellen</strong>’. Dat
      betekent dat je de overheidsinstantie een of twee weken de tijd geeft om
      alsnog op je verzoek te beslissen. Ook dit kan via de Wob-Knop. Let op:
      je kunt dit pas doen na het aflopen van de wettelijke beslistermijn.
    </li>
  </ol>

  <h2>
    Wat als de overheid toch niet (tijdig) beslist?
  </h2>

  <p>
    De overheid is verplicht om zich aan wettelijke termijnen te houden. Net
    als jij. Toch doet de overheid dat vaak niet. Gelukkig is er -- als je dat
    wilt -- een redelijk snelle route om een overheidsinstantie te dwingen om
    op je verzoek te beslissen als het zich niet aan de termijnen houdt:
    <strong>in beroep bij de rechtbank</strong> van je woonplaats tegen het
    niet tijdig nemen van de beslissing.
  </p>

  <p>
    Let op: hiervoor moet je <strong>griffierecht betalen</strong>. Als je als
    privépersoon wobt (en dus niet namens een bedrijf of een media-organisatie)
    kost dat 174 euro. Wob je uit naam van een bedrijf of medium, dan kost dit
    je maar liefst 345 euro. Je krijgt het bedrag wel terug van de
    overheidsinstantie  als je van de rechter gelijk krijgt. Zorg daarom dat je
    zeker weet dat de uiterlijke termijn om te beslissen is verstreken.
  </p>

  <h2>
    Hoe doe ik dat, in beroep gaan?
  </h2>

  <p>
    Om in beroep te gaan tegen niet (tijdig) beslissen moet je de overheid
    éérst <strong>in gebreke stellen</strong>. Dat betekent dat je de
    overheidsinstantie een of twee weken de tijd geeft om alsnog op je verzoek
    te beslissen. Ook dit kan via de Wob-Knop.
  </p>

  <p>
    Beroep instellen bij de rechter wegens niet (tijdig) beslissen kan via dit
    <a
      href="https://formulieren.rechtspraak.nl/formulier/BeroepschriftRb_031_1.aspx/Beroepschrift_Inleiding_031_1">digitale
      formulier</a>. Je hebt geen advocaat nodig. Je hebt hiervoor wel een
    Digid nodig, of je kunt het ingevulde formulier uitprinten en het via de
    post opsturen.
  </p>

  <ol>
    <li>
      Kies voor de rechtbank van je woonplaats.
    </li>

    <li>
      Kies tussen digitaal of per post versturen.
    </li>

    <li>
      Bij ‘Waartegen gaat u in beroep?’ kies je voor ‘Tegen het niet tijdig
      nemen van een beslissing door een overheidsinstantie’.
    </li>

    <li>
      Kies de overheidsinstantie (‘bestuursorgaan’).
    </li>

    <li>
      Vul de vestigingsplaats van de overheidsinstantie in. Als je post of een
      e-mail van de overheidsinstantie hebt ontvangen, check dan welke
      vestigingsplaats zij gebruiken.
    </li>

    <li>
      Bevestig dat je de overheidsinstantie in gebreke hebt gesteld.
    </li>

    <li>
      Bij ‘Waarover gaat uw verzoek’ schrijf je kort waar je beroep over gaat:
      ‘De overheid heeft niet tijdig op mijn Wob-verzoek beslist’ is al
      voldoende.
    </li>

    <li>
      Bij ‘Waarom gaat u in beroep’ schrijf je wat uitgebreider hoe een en
      ander sinds je Wob-verzoek verlopen is, noem duidelijk alle data van de
      contactmomenten en de wettelijke termijn die overschreden is.
    </li>

    <li>
      Bij ‘Gegevens indiener’ kies je voor ‘Ik dien zelf het beroepschrift in’
      en vul je je verdere gegevens in.
    </li>

    <li>
      Bij ‘Bijlagen’ upload je in elk geval je Wob-verzoek, eventuele
      uitstelbrieven en de ingebrekestelling. Deze kun je eenvoudig downloaden
      via de Wob-Knop.
    </li>
  </ol>

  <p>
    De rechter zal de overheidsinstantie in de gelegenheid stellen om te reageren, en daar mag jij ook weer op reageren. De rechter zal je uitnodigen voor een hoorzitting, maar omdat het alleen over niet tijdig beslissen gaat, zal het meestal niet nodig zijn hier gebruik van te maken.
  </p>

  <p>
    Het zal over het algemeen <strong>een tot twee maanden</strong> duren
    voordat de rechter uitspraak doet. Als je gelijk krijgt, zal de rechter de
    overheidsinstantie opdragen zo snel mogelijk [wordt er dan een termijn
    gesteld?] te beslissen en het griffierecht aan jou terug te betalen.
  </p>

  <h2>
    Wat als je niet tevreden bent met de informatie die je gekregen hebt?
  </h2>

  <p>
    Het kan ook zijn dat de overheid wel op tijd beslist maar dat je niet
    tevreden bent met de informatie die je hebt ontvangen. Bijvoorbeeld omdat
    veel informatie in de documenten ‘zwartgelakt’ is.
  </p>

  <p>
    Als de stappen die hier staan je niet verder helpen, dan kun je overwegen
    om <strong>in bezwaar</strong> te gaan tegen de beslissing. Dat moet je
    <strong>binnen zes weken na de beslissing</strong> laten weten aan de
    overheidsinstantie. Dit kan via de Wob-Knop of per brief naar het in de
    beslissing genoemde adres. Bezwaar maken kan kosteloos en je hoeft geen
    advocaat te hebben.
  </p>

  <p>
    In je bezwaarschrift schrijf je waarom je het niet eens bent met de
    beslissing. Je kunt eventueel ook stukken opsturen om je bezwaar te
    onderbouwen.
  </p>

  <p>
    Je bezwaar zal niet worden behandeld door een rechter, maar door een
    <strong>bezwaarcommissie</strong>. Die is verbonden aan dezelfde
    overheidsinstantie die je hebt ‘gewobt’, maar bestaat uit andere personen
    dan de ambtenaren die over je verzoek hebben beslist.
  </p>

  <p>
    De bezwaarcommissie zal je uitnodigen voor een
    <strong>hoorzitting</strong>. Je bent niet verplicht hier gebruik van te
    maken, maar het is vaak wel verstandig. Tijdens een hoorzitting kan je
    antwoord geven op vragen van de commissie. Let op: je hoeft niet te
    verantwoorden waarom je bepaalde informatie verzoekt! Het bezwaar en de
    hoorzitting gaan over de beslissing van de overheidsinstantie, dus over de
    reden(en) die de overheidsinstantie geeft om jouw verzoek (gedeeltelijk) af
    te wijzen.
  </p>

  <p>
    De termijn waarbinnen de bezwaarcommissie beslist over je bezwaar varieert.
    Vraag dit na zodra je in bewaar bent gegaan. [Nb de termijn voor de BOB is
    maximaal 12 weken?]
  </p>

  <h2>
    Wat als je niet tevreden bent met de informatie die je na je bezwaar
    gekregen hebt?
  </h2>

  <p>
    Het kan dat je na je bezwaarprocedure nog steeds niet tevreden bent, omdat
    er nog steeds documenten zijn geweigerd of zwartgelakt. Je kunt dan tegen
    de beslissing op je bezwaar in beroep gaan bij de rechtbank. Gebruik
    daarvoor hetzelfde <a
      href="https://formulieren.rechtspraak.nl/formulier/BeroepschriftRb_031_1.aspx/Beroepschrift_Inleiding_031_1">formulier</a>
    als wanneer je in beroep gaat tegen niet tijdig beslissen op je verzoek.
    Ook hier zijn uiteraard griffierechten van 174 euro aan verbonden. Wob je
    uit naam van een bedrijf of medium, dan kost dit je maar liefst 345 euro.
  </p>

  <p>
    In beide gevallen is een advocaat niet verplicht, maar een (juridisch)
    adviseur kan in dit stadium wel raadzaam zijn omdat het in deze fase vaak
    om juridische argumenten draait.
  </p>

  <div id="hash_link_padding"></div>
</div>
