<% @title = 'Help, ik heb een Wob-verzoek ontvangen via de Wob-Knop!' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <p>
    De Wob-Knop is een initiatief van de Vlaams-Nederlandse Vereniging voor
    Onderzoeksjournalisten (VVOJ). Deze site helpt burgers bij het opvragen van
    documenten bij overheidsinstanties. Dit  antwoorden voor iedereen.
  </p>

  <p>
    Het Wob-verzoek dat u heeft ontvangen is door een gebruiker van de Wob-Knop
    ingediend. U kunt het verzoek in behandeling nemen zoals elk anderszins
    ingediend informatieverzoek van een burger. De enige verschillen zijn dat
    de communicatie tussen u en de gebruiker via de Wob-Knop zal verlopen en
    dat uw antwoord automatisch zal worden gepubliceerd op deze site.
  </p>

  <p>
    Als u vragen heeft in verband met privacy, <%= link_to 'klik dan hier',
    help_privacy_path %>. Op de site kunt u eveneens de overheidsinstantie
    waarvoor u werkt opzoeken en bekijken welke andere documenten eerder zijn
    opgevraagd via de Wob-Knop.
  </p>

  <p>
    We staan open voor alle opmerkingen en bedenkingen van ambtenaren
    verantwoordelijk voor de afhandeling van Wob-verzoeken bij een
    overheidsinstelling. Aarzel niet om <%= link_to 'contact met ons',
    help_contact_path %> op te nemen.
  </p>

  <p>
    Lees hier meer over de Wob-knop voor Wob-ambtenaren.
  </p>

  <div id="hash_link_padding"></div>
</div>
