<% @title = 'Over de Wob' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%= @title %></h1>

  <h2>
    Wat is de Wob-Knop?
  </h2>

  <p>
    Op grond van de Wet Openbaarheid van Bestuur (Wob) heeft iedereen het recht
    om een informatieverzoek in te dienen bij alle Nederlandse overheden. Dat
    noemen we een Wob-verzoek.
  </p>

  <p>
    De Wob-Knop is een website om snel en gemakkelijk digitale Wob-verzoeken in
    te dienen, de behandeling van het verzoek te volgen en de gevraagde
    informatie te ontvangen.
  </p>

  <p>
    Je kunt de website ook gebruiken om alle eerdere via de Wob-Knop verkregen
    Wob-verzoeken en overheidsdocumenten te doorzoeken.
  </p>

  <h2>
    Hoe werkt het?
  </h2>

  <p>
    Het is heel simpel: vanaf deze website verstuur je een Wob-verzoek aan de
    overheid. Je kiest een overheidsinstantie en beschrijft wat je precies wil
    weten. Je drukt op de Wob-Knop! De website stuurt je verzoek automatisch
    naar het juiste e-mailadres. De overheid is verplicht om binnen vier weken
    je verzoek te beantwoorden.
  </p>

  <p>
    Het antwoord en de documenten met de informatie waar je om hebt gevraagd
    worden op de Wob-Knop website gepubliceerd. Iedereen kan vanaf dat moment
    de documenten raadplegen en downloaden.
  </p>

  <p>
    Klik hier voor de stap-voor-stap uitleg.
  </p>

  <h2>
    Wie kan de Wob-Knop gebruiken?
  </h2>

  <p>
    Iedereen heeft het recht om zonder opgaaf van redenen overheidsinformatie
    op te vragen. Burgers, journalisten, ngo’s, wetenschappers, advocaten en
    bedrijven kunnen allemaal ‘wobben’ … en daarvoor de Wob-Knop gebruiken!
  </p>

  <p>
    Ben je journalist, kijk dan even naar speciale overwegingen waar je
    rekening mee moet houden op de ‘Veelgestelde Vragen’-pagina of bezoek de
    website over de Wob van de Vlaams-Nederlandse Vereniging van
    Onderzoeksjournalisten (VVOJ).
  </p>

  <h2>
    Waarom zou ik de Wob-Knop gebruiken?
  </h2>

  <p>
    De Wob-Knop maakt het veel eenvoudiger om een Wob-verzoek te versturen. De
    site helpt je bij het vinden van de juiste overheidsinstantie en stuurt je
    verzoek automatisch naar het juiste e-mailadres.
  </p>

  <p>
    Met de Wob-Knop kan je alle correspondentie tussen jou en de overheid over
    je verzoek makkelijk op een plek terugvinden. Je hoeft dus geen eigen
    papieren administratie meer bij te houden of brieven in te scannen zodat je
    alle verschillende vormen van correspondentie goed op een rij hebt. Ook
    prijzige aangetekende brieven zijn verleden tijd.
  </p>

  <p>
    De website waarschuwt je als de overheid zich niet aan de wettelijke
    termijn voor de beantwoording van je verzoek houdt. Je kunt deze termijnen
    ook in je digitale agenda laten zetten.
  </p>

  <p>
    En met het gebruik van de Wob-Knop maak je het niet alleen jezelf
    makkelijker. Anderen die op zoek zijn naar dezelfde informatie kunnen met
    de zoekfunctie makkelijk bij de door jou opgevraagde documenten komen. Zo
    kan je met elkaar meedenken en inspiratie opdoen.
  </p>

  <p>
    In het Verenigd Koninkrijk zijn al bijna 600 duizend verzoeken via de
    Britse Wob-Knop (<a href="https://www.whatdotheyknow.com">
    WhatDoTheyKnow.com</a>) gedaan en bezoeken jaarlijks 6 miljoen mensen de
    site. Het werkt echt!
  </p>

  <h2>
    Waarom zou een overheidsinstantie de moeite nemen om te antwoorden?
  </h2>

  <p>
    Volgens de Wet Openbaarheid van Bestuur hebben overheden de verplichting om
    je vragen te beantwoorden. Het antwoord zal ofwel de documenten bevatten
    die je nodig hebt, ofwel de redenen uiteenzetten waarom de overheid de
    gevraagde informatie niet publiek wil of kan maken.
  </p>

  <p>
    Sommige overheden, meestal kleinere gemeentes, hebben ervoor gekozen om
    elektronisch verstuurde Wob-verzoeken niet in behandeling te nemen. Wij
    vinden dat dit niet meer van deze tijd is en verwachten dat het aantal
    overheidsinstanties dat verzoeken per mail weigert snel zal afnemen.
  </p>

  <h2>
    Van wie is de Wob-Knop?
  </h2>

  <p>
    De Wob-Knop is een project van de <a href="https://www.vvoj.org">
    Vlaams-Nederlandse Vereniging voor Onderzoeksjournalistiek</a> (VVOJ) en is
    afgeleid van de succesvolle Britse website
    <a href="https://www.whatdotheyknow.com">WhatDoTheyKnow.com</a>.
  </p>

  <p>
    De software waar de website op draait heet Alaveteli en is ontwikkeld door
    <a href="https://www.mysociety.org">mySociety</a>. mySociety is een project
    van de vereniging <a href="https://www.mysociety.org/about/">UK Citizens
    Online Democracy</a>. De Wob-Knop is financieel mogelijk gemaakt door <a
    href="https://www.adessium.org/nl/">Adessium</a> en mySociety.
  </p>

  <p>
    Het beheer van de website is in handen van leden van de Wob-werkgroep van
    de VVOJ. De website maakt op geen enkele manier deel uit van de Nederlandse
    overheid en opereert volstrekt onafhankelijk.
  </p>

  <div id="hash_link_padding"></div>
</div>
