<% @title = 'Je privacy' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>

  <p>
    Hier kan je lezen over het gebruik van je gegevens. Als je vragen hebt,
    neem gerust contact met ons op.
  </p>

  <dl>
    <dt id="email_address">Who gets to see my email address? <a href="#email_address">#</a> </dt>
    <dd>

      <p>
        Wij zullen nooit je e-mailadres publiek maken, tenzij we daartoe
        wettelijk verplicht worden of als jij het ons vraagt. Dus ook niet aan
        de overheidsinstantie waaraan je je Wob-verzoek richt. Indien je een
        Wob-verzoek indient ontvangt de overheidsinstantie dit vanaf een @
        <%= AlaveteliConfiguration::incoming_email_domain %> e-mailadres,
        specifiek voor dit verzoek.
      </p>

      <p>
        Als je een bericht stuurt naar een andere gebruiker van de site, zal je
        persoonlijke e-mailadres wel zichtbaar zijn. Je wordt daarvan op de
        hoogte gebracht.
      </p>
    </dd>

    <dt id="nasty_spam">Gaan jullie mijn inbox vullen met spam? <a href="#nasty_spam">#</a> </dt>
    <dd>
      <p>
        Nee, eenmaal aangemeld bij de Wob-Knop sturen we alleen e-mailberichten
        die verband houden met vragen die je stelt, een e-mailnotificatie
        waarvoor je je eventueel hebt ingeschreven, of andere redenen waarvoor
        je expliciet goedkeuring geeft. We zullen nooit je e-mailadres
        doorgeven of verkopen aan derden, tenzij we daartoe wettelijk verplicht
        worden of jij het ons vraagt.
      </p>
    </dd>

    <dt id="public_request">Waarom verschijnt mijn naam en verzoek om informatie openbaar op de website? <a href="#public_request">#</a> </dt>
    <dd>
      <p>
        Wij publiceren je Wob-verzoek zodat iedereen toegang heeft tot het door
        jou verzonden Wob-verzoek en ingewonnen informatie en deze ook kan
        gebruiken. In principe verwijderen we geen verzoeken. Zie voor meer
        informatie: ‘Wilt u mijn persoonlijke gegevens verwijderen?’
      </p>

      <p>
        Door je echte naam te gebruiken ben je ook gemakkelijker terug te
        vinden door mensen die je willen helpen bij je onderzoek of mee willen
        campagne voeren.
      </p>

      <p>
        Voor alternatieven, dus als niet wil dat je volledige naam gepubliceerd
        wordt, zie de volgende vraag.
      </p>
    </dd>

    <dt id="real_name">Kan ik een Wob-verzoek onder een pseudoniem indienen? <a href="#real_name">#</a> </dt>
    <dd>
      <p>
        Je moet je eigen naam gebruiken als je een Wob-verzoek doet.
      </p>
    </dd>

    <dt id="full_address">Ze hebben mijn postadres gevraagd! <a href="#full_address">#</a> </dt>
    <dd>
      <p>
        Als een overheidsinstantie over papieren stukken beschikt, kunnen ze je
        postadres vragen. Antwoord dan dat je toch echt per e-mail een antwoord
        wenst te ontvangen.
      </p>
    </dd>

    <dt id="postal_answer">Nee, nee, ze hebben echt per se een postadres nodig! <a href="#postal_answer">#</a> </dt>
    <dd>
      Indien dit niet kan of je vindt het prima om het antwoord per post te
      ontvangen, dan kun je daar uiteraard mee akkoord gaan. Bedenk wel dat het
      antwoord dan niet beschikbaar zal zijn voor anderen.
    </dd>

    <dt id="delete_requests">Kunnen jullie mijn verzoeken verwijderen, of mijn naam aanpassen? <a href="#delete_requests">#</a> </dt>
    <dd>
      <p>
        De Wob-Knop is een permanent en publiek archief van verzoeken om
        openbaarheid van bestuur. Een vraag die voor jou niet meer relevant
        lijkt, kan nog steeds nuttig zijn voor anderen. Daarom verwijderen we
        geen verzoeken.
      </p>

      <p>
        In uitzonderlijke gevallen kunnen we je naam of andere persoonlijke
        gegevens verwijderen of aanpassen, zie ook
        <a href="#takedown">volgende vraag</a>.
      </p>

      <p>
        Zie ook: ‘<a href="#real_name">Kan ik een vraag om openbaarheid indienen onder een pseudoniem?</a>’.
      </p>
    </dd>

    <dt id="takedown">Kunnen jullie mijn persoonlijke gegevens verwijderen? <a href="#takedown">#</a> </dt>
    <dd>

      <p>
        Als je persoonlijke info op de site terugvindt die je liever verwijderd
        of aangepast ziet, aarzel dan niet dit <%= link_to 'ons te laten
        weten', help_contact_path %>.
      </p>

      <p>
        Gevoelige informatie die per ongeluk openbaar is gemaakt, verwijderen
        we.
      </p>

      <p>
        Wij zijn van mening dat het behoud van namen van ambtenaren en andere
        personeelsleden van de overheid van openbaar belang kan zijn. We
        verwijderen alleen namen van ambtenaren en andere personeelsleden van
        de overheid in uitzonderlijke gevallen, zoals wanneer de publicatie van
        een naam en functie een reële bedreiging vormt voor de veiligheid van
        een individu. Als je je in deze situatie bevindt, en je wenst je naam
        verwijderd te zien, dien dan een verzoek hiertoe in. Dit verzoek moet
        aantonen dat er een groter risico is dan het openbaar belang en dat de
        organisatie de naam (en functie) ook van de eigen website verwijderd
        heeft.
      </p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
