<% @title = 'Hoe kan ik Wobben met de Wob-Knop?' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>

  <p>
    Op grond van de Wet Openbaarheid van Bestuur (Wob) heeft iedereen het recht
    om een informatieverzoek in te dienen bij alle Nederlandse overheden. Dit
    wordt ‘wobben’ genoemd en het informatieverzoek is een ‘Wob-verzoek’.
  </p>

  <p>
    Het wobben begint met het schrijven van je Wob-verzoek. Wil je hulp bij het
    opstellen van je Wob-verzoek, kijk dan ook eens bij onze Wob-generator.
  </p>

  <p>
    Voor een Wob-verzoek is het belangrijk om je af te vragen: welke informatie
    zoek ik en bij welke overheidsinstantie moet ik daarvoor zijn?
  </p>

  <dl>
    <dt id="focused">Welke informatie wil ik opvragen? <a href="#focused">#</a> </dt>
    <dd>
      <p>
        Check eerst of de informatie die je zoekt niet al eerder openbaar
        gemaakt is. Want dan hoef je geen Wob-verzoek in te dienen. Overheden
        publiceren ook informatie uit eigen beweging op hun website. Doorzoek
        bijvoorbeeld eerder gewobte overheidsdocumenten op rijksoverheid.nl
        maar ook andere overheidswebsites bevatten soms een overzicht van
        openbaar gemaakte documenten, zoals de politie of het Openbaar
        Ministerie.
      </p>

      <p>
        Doorzoek ook de database met eerdere Wob-verzoeken die via de Wob-Knop
        zijn ingediend om te kijken of iemand anders de documenten die je zoekt
        al ontvangen heeft.
      </p>

      <p>
        Denk vervolgens goed na over welke informatie je zoekt. Je kunt alleen
        informatie opvragen die in documenten is vastgelegd, dus vraag je af
        welke soorten documenten dat kunnen zijn. Een rapport, verslag, agenda?
        Als je precies weet welke documenten je zoekt, vraag dan in ieder geval
        naar die specifieke documenten. Weet je dat niet, probeer het onderwerp
        waarover je documenten zoekt dan zo helder en precies mogelijk te
        omschrijven.
      </p>
    </dd>

    <dt id="data_protection">Kan ik informatie over mezelf vragen? <a href="#data_protection">#</a> </dt>
    <dd>
      <p>
        Nee, het is niet verstandig om informatie over jezelf via de Wob-Knop
        op te vragen. Dergelijke informatie past niet bij het publiek
        toegankelijke karakter van deze website.
      </p>
    </dd>

    <dt id="which_authority">Bij welke overheidsinstantie moet ik zijn? <a href="#which_authority">#</a> </dt>
    <dd>
      <p>
        Vraag je af bij welke overheidsinstantie de informatie te vinden is.
        Onder de knop ‘Zoek overheidsinstantie’ kun je de overheidsinstanties
        vinden die relevant zouden kunnen zijn voor jouw Wob-verzoek.
      </p>
    </dd>

    <dt id="missing_body">Staat jouw overheidsinstantie er niet bij? <a href="#missing_body">#</a> </dt>
    <dd>
      <p>
        Elk jaar komen er overheidsinstanties bij en verdwijnen er een aantal,
        of ze veranderen van naam. Staat de overheidsinstantie waar jij je
        Wob-verzoek wilt indienen er niet tussen? Geef het aan ons door!
      </p>
    </dd>

    <dt id="quickly_response">Hoe snel krijg ik antwoord? <a href="#quickly_response">#</a> </dt>
    <dd>
      <p>
        De overheid is verplicht om binnen vier weken je verzoek te
        beantwoorden en mag hier zonodig nog vier weken aan toevoegen. In
        totaal moet je dus uiterlijk binnen acht weken antwoord krijgen. Het
        kan wel zo zijn dat het antwoord niet de informatie bevat waar je om
        vroeg.
      </p>

      <p>
        Lees hier meer over wat je na een (gedeeltelijke) afwijzing kan doen.
      </p>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>
